<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nao.scale.mapper.ComputationsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.nao.scale.pojo.Computations">
		<id column="id" property="id" />
		<result column="computations" property="computations" />
		<result column="msad" property="msad" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, computations, msad
    </sql>
    
    <select id="selectList" resultMap="BaseResultMap">
    	select* from computations
    </select>
    
    
</mapper>
